SPRING_ENV=dev
SPRING_APP_NAME=AccountingManagerMicroservice
SPRING_LOG_LEVEL=WARN
SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/**,/api/v1/health,/v3/api-docs/**,/swagger-ui/**
SPRING_JWT_ISSUER=login-service

HOST_PORT=8086
HOST_DB_PORT=3316

MYSQL_DATABASE=accounting_manager
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8196
DOCKER_DOMAIN_NETWORK=fullstack_network

SALES_API_BASE_URL=http://localhost:8082/api/v1/sales
INVOICES_API_BASE_URL=http://localhost:8087/api/v1/invoices
USERS_API_BASE_URL=http://localhost:8081/api/v1/users
