SPRING_ENV=dev
SPRING_APP_NAME=AccountingManagerMicroservice
SPRING_LOG_LEVEL=WARN

SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/**,/sales/v3/api-docs,/invoices/v3/api-docs,/v3/api-docs/**,/swagger-ui/**,/actuator/**
SPRING_JWT_ISSUER=login-service
SPRING_EUREKA_URL=http://localhost:8123/eureka

HOST_PORT=8010
DOCKER_DOMAIN_NETWORK=fullstack_network

SERVICE_INVOICES_API_BASE_URL=lb://InvoiceMicroservice-dev
SERVICE_SALES_API_BASE_URL=lb://SalesMicroservice-dev
