HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# info
infoCommits.md

# --- ARCHIVOS MULTIMEDIA Y PESADOS ---
# Ignorar formatos de imagen comunes (si no son parte del diseño base)
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp

# Ignorar archivos de video y diseño/edición
*.mp4
*.mov
*.avi
*.mkv
*.prproj
*.drp

# Ignorar archivos de audio y plugins
*.mp3
*.wav
*.flac